body{
  padding-top: 30px;

}
button{
margin: unset;
  background-color: darkgrey;
  color: white;
  border-radius: 7px;
  border-color: white;
  width: 70px;
  height: 38px;
}
button:hover{
  color: darkgrey;
  background-color: white;
  border-color: darkgrey;
}
input{
  border-radius: 7px;
  border-color: darkgrey;
  font-size: 17px;
  height: 30px;
}
li{
  list-style-type: none;
  width: 260px;
  font-size: 17px;
  margin-bottom: 10px;
}
li:hover{
  cursor: pointer;
}
.checkedList{
  text-decoration: line-through;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}